<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>熊猫签到</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <style>
      body {
          color: #333;
          font-size: 12px;
          line-height: 18px;
      }

      .info {
          overflow: hidden;
          width: 100%;
          word-wrap: break-word;
      }

      .date {
          font-weight: bold;
          padding: 10px 5px 5px 5px;
      }

      .item {
          padding-left: 10px;
      }

      .item span {
          padding-right: 5px;
      }
  </style>
</head>
<body>
<div class="date">日期：2014/12/12</div>
<div class="item">汤唯：<span>9:12</span><span>12:12</span></div>
<div class="item">汤唯：<span>9:12</span><span>12:12</span></div>
</body>
</html>